@import url(http://fonts.googleapis.com/css?family=Exo:900);

body{
	
		background-color:#1b1c1d;

}

a{
	color:#ffba00;
}

		a:hover{
		color:#ffba00;
	}

.namefont{
	font-size: 120px;
	font-family: 'Exo', sans-serif;	
	color:#ffba00;
}

.namefontIAM{
	font-size: 30px;
	color:white;
	font-family: 'Exo', sans-serif;	
}

@media screen and (max-width: 700px){
	.namefont{
		font-size: 80px;		
	}

	.namefontIAM{
	font-size: 20px;
	}
}